* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.clearfix {
  clear: both;
}
.container-width {
  width: 90%;
  max-width: 1150px;
  margin: 0 auto;
}
.logo-container {
  float: left;
  width: 50%;
}
.form {
  border-radius: 3px;
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.2);
}
.select {
  width: 100%;
  margin-bottom: 15px;
  padding: 7px 10px;
  border-radius: 2px;
  color: #fff;
  background-color: #554c57;
  border: none;
  height: 30px;
}
.label {
  width: 100%;
  display: block;
}
.tab {
  text-decoration: none;
  color: inherit;
  padding: 7px 14px;
  transition: opacity 0.3s;
  display: inline-block;
  border-radius: 3px;
  margin-right: 10px;
}
.tab.tab-active {
  background-color: #0d94e6;
  color: white;
}
#ioe3e {
  font-family: Tahoma, Geneva, sans-serif;
  color: #000000;
}
#ix9si {
  font-family: Tahoma, Geneva, sans-serif;
  color: #000000;
}
#ih5f6 {
  font-family: Tahoma, Geneva, sans-serif;
  color: #000000;
}
#i967 {
  background-repeat: repeat-y, no-repeat;
  background-position: left top, center center;
  background-attachment: scroll, scroll;
  background-size: contain, cover;
}
#ifwdz {
  font-family: Tahoma, Geneva, sans-serif;
  color: #000000;
}
#i568v {
  font-family: Tahoma, Geneva, sans-serif;
  color: #000000;
}
#ief2t {
  font-family: Tahoma, Geneva, sans-serif;
  color: #000000;
}
.navbar-items-c {
  display: inline-block;
  float: right;
}
.navbar {
  background-color: #222;
  color: #ddd;
  min-height: 50px;
  width: 100%;
}
.navbar-container {
  max-width: 950px;
  margin: 0 auto;
  width: 95%;
}
.navbar-container::after {
  content: "";
  clear: both;
  display: block;
}
.navbar-brand {
  vertical-align: top;
  display: inline-block;
  padding: 5px;
  min-height: 50px;
  min-width: 50px;
  color: inherit;
  text-decoration: none;
}
.navbar-menu {
  padding: 10px 0;
  display: block;
  float: right;
  margin: 0;
}
.navbar-menu-link {
  margin: 0;
  color: inherit;
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
}
.navbar-burger {
  margin: 10px 0;
  width: 45px;
  padding: 5px 10px;
  display: none;
  float: right;
  cursor: pointer;
}
.navbar-burger-line {
  padding: 1px;
  background-color: white;
  margin: 5px 0;
}
.button {
  width: 100%;
  margin: 15px 0;
  background-color: #785580;
  border: none;
  color: #fff;
  border-radius: 2px;
  padding: 7px 10px;
  font-size: 1em;
  cursor: pointer;
}
.input {
  width: 100%;
  margin-bottom: 15px;
  padding: 7px 10px;
  border-radius: 2px;
  color: #fff;
  background-color: #554c57;
  border: none;
}
.input-cell {
  width: 100%;
  padding: 7px 10px;
  border-radius: 2px;
  color: #fff;
  background-color: #554c57;
  border: none;
}
.row {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  padding: 10px;
}
.cell {
  min-height: 20px;
  flex-grow: 1;
  flex-basis: 100%;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
.row {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  padding: 10px;
}
.cell {
  min-height: 75px;
  flex-grow: 1;
  flex-basis: 100%;
}
#idsz {
  padding: 10px;
}
@media (max-width: 768px) {
  .row {
    flex-wrap: wrap;
  }
}
@media fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 768px) {
  .navbar-burger {
    display: block;
  }
  .navbar-items-c {
    display: none;
    width: 100%;
  }
  .navbar-menu {
    width: 100%;
  }
  .navbar-menu-link {
    display: block;
  }
}

.calendar {
  width: 350px;
  margin: 50px auto 0;
}

.calendar__month {
  font-size: 20px;
  font-weight: 800;
  padding: 10px 0;
  width: 100%;
  position: relative;
}

.cal-month__previous {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 30px;
  height: 30px;
  text-align: center;
}

.cal-month__next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 30px;
  height: 30px;
  text-align: center;

  /* &:hover {
    background-color: #42a5f5;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.75);
    border-radius: 50%;
    font-weight: 800;
    color: #111;
  } */
}

.cal-month__next {
  right: 0;
}

.cal-month__current {
  text-align: center;
  color: #e1e1e1;
}

.cal-head__day,
.cal-body__day {
  display: inline-block;
  width: 50px;
  height: 50px;
  float: left;
}

.cal-body__week,
.calendar__head {
  display: block;
  height: 50px;
  width: 350px;
}

.calendar__head {
  line-height: 50px;
  position: relative;

  &:after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #90caf9;
  }
}

.cal-body__day {
  color: #777;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}

.cal-day__month--current {
  color: #e1e1e1;
}

.cal-day__day--today {
  font-weight: 800;
  color: #2196f3;
}

.cal-day__day--selected {
  background-color: #2196f3;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.75);
  border-radius: 50%;
  color: #111;
}

.cal-day__day--ktgs-thi {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #f47106;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.75);
  border-radius: 50%;
  line-height: 50px;
}

.cal-day__day--ktgs-thvd {
  display: inline-block;
  width: 50px;
  height: 50px;
  outline-style: solid;
  outline-color: #0822e4;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.75);
  border-radius: 50%;
  line-height: 50px;
}
